@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Nunito&display=swap');

/* ----------------------------------------------------------------------------------------------- */
/* Global Styles */

/* Body */
body{
    background-color: #0182be;
}

/* Fonts */
h1, h2, h3, h4, h5, h6{
    font-family: 'Josefin Sans', sans-serif;
}

p{
    font-family: 'Nunito', sans-serif;
}

/* ----------------------------------------------------------------------------------------------- */
/* Buttons */
.hero-button{
    border: none;
    padding: 16px 20px;
    border-radius: 8px;
    background: #219084;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: #ddc5aa;
}

.hero-button:hover{
    background: #ddc5aa;
    color: #219084;
}

/* Navigation */
.navbar{
    background-color: #219084;
}

.nav-link{
    font-family: 'Nunito', sans-serif;;
    color: #ddc5aa;
}

.nav-link:hover{
    color: #dbb68b;
}

.nav-link.active{
    border-right: solid 2px #dbb68b;
    border-left: solid 2px #dbb68b;
    color: #dbb68b;
}

/* Carousel */
.carousel-item{
    height: 800px;
    text-align: center;
    position: relative;
}

.hero-text{
    color: blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel-item img{
    width: 100%;
}

/* Card */
.card{
    border-radius: 150px 150px 12px 12px;
    background: #f3f3f3;
    text-align: center;
    height: 440px;
    border: none;
}

.card-img-top{
    height: 320px;
    margin: auto;
    width: auto;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card-img-top.small{
    height: 200px;
}

.card-text{
    color: #18382B;
}